---
import { Tooltips } from "astro-tooltips";
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import {
  faSquareEnvelope,
  faArrowDown,
} from "@fortawesome/free-solid-svg-icons";
import { faSquareGithub, faLinkedin } from "@fortawesome/free-brands-svg-icons";
import { Image } from "astro:assets";

import portrait from "../assets/sq.jpg";

library.add(faSquareGithub, faSquareEnvelope, faLinkedin, faArrowDown);

const githubIcon = icon(faSquareGithub);
const linkedinIcon = icon(faLinkedin);
const squareEnvelope = icon(faSquareEnvelope);
const arrowDown = icon(faArrowDown);
---

<div id="hero">
  <div class="hero-card">
    <Image src={portrait} alt="Portrét Martina Růžka" />
    <h3>Martin Růžek</h3>
    <p>Student, software&nbsp;engineer, web&nbsp;dev</p>
    <div class="hero-links">
      <a href="mailto:me@martinruzek.cz"
        ><Fragment set:html={squareEnvelope.html} /> me@martinruzek.cz</a
      >
      <a href="https://github.com/maruzek" target="_blank">
        <Fragment set:html={githubIcon.html} /> @maruzek
      </a>
      <a href="https://linkedin.com/in/maruzek" target="_blank">
        <Fragment set:html={linkedinIcon.html} /> @maruzek
      </a>
    </div>
  </div>
  <div id="hero-mobile-arrow">
    <Fragment set:html={arrowDown.html} />
  </div>
</div>

<style>
  .hero-card {
    width: 80%;
    padding: 0 2rem;
  }
  .hero-card img {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
    border-radius: 5px 5px 50% 5px;
  }

  .hero-card p {
    margin-top: 5px;
  }

  .hero-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h3 {
    text-align: left;
  }

  .hero-links a,
  .hero-links div {
    margin-right: 0.5rem;
    color: inherit;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    width: fit-content;
  }

  .hero-links a:hover {
    color: #551f00;
  }

  .hero-card :global(svg.svg-inline--fa) {
    width: 23px;
    height: 23px;
  }

  #hero {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 24px;
  }

  #hero-mobile-arrow {
    display: none;
  }
  @media (max-width: 992px) {
    #hero {
      position: relative;
      width: 100%;
      max-width: 500px;
      height: auto;
      margin-top: 3rem;
    }

    .hero-card {
      width: 100%;
      padding: 0 1rem;
    }

    #hero-mobile-arrow {
      display: block;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #hero-mobile-arrow :global(svg.svg-inline--fa) {
      width: 5rem;
      height: 5rem;
      color: #260e00;
      margin-top: 1rem;
      animation: bounce 1s infinite;
    }

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  }
</style>

<script>
  const emailEl = document.getElementById("email-clipboard");
  const email = "me@martinruzek.cz";

  if (emailEl) {
    emailEl.addEventListener("click", () => {
      navigator.clipboard.writeText(email).then(() => {
        emailEl.setAttribute("title", "Zkopírováno!");
        setTimeout(() => {
          emailEl.setAttribute("title", "Zkopírovat email do schránky");
        }, 2000);
      });
    });
  }
</script>
