---
import { ArrowRight } from "@lucide/astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faSquareGithub } from "@fortawesome/free-brands-svg-icons";

library.add(faSquareGithub);

const githubIcon = icon(faSquareGithub);

const projects = await getCollection("projects");

const sortedProjects = projects.sort((a, b) => {
  const orderA = a.data.order ?? Infinity;
  const orderB = b.data.order ?? Infinity;
  return orderA - orderB;
});
---

<section id="projects">
  <div class="section-overview">
    <h2>Mé projekty</h2>
    <p>
      Zde je seznam projektů, na kterých jsem pracoval. Můžete si prohlédnout
      jejich zdrojový kód a vyzkoušet si je.
    </p>
  </div>

  {
    sortedProjects.map((p) => (
      <article>
        <figure>
          <Image
            src={p.data.image}
            alt={`Screenshot aplikace ${p.data.title}`}
          />
        </figure>
        <div class="project-card-content">
          <h3>{p.data.title}</h3>
          <small class="tags">
            {p.data.tags.map((tag) => (
              <span class="tag">{tag}</span>
            ))}
          </small>
          <p>{p.data.description}</p>
          <div class="project-links">
            <a href={`/projects/${p.id}`} class="repo-link">
              <div>
                <ArrowRight />
              </div>
              <span>Zjistit více</span>
            </a>
            {p.data.link && (
              <a href={p.data.link} class="repo-link" target="_blank">
                <div>
                  <Fragment set:html={githubIcon.html} />
                </div>
                <span>GitHub</span>
              </a>
            )}
          </div>
        </div>
      </article>
    ))
  }
</section>

<style>
  .section-overview {
    margin-top: 1rem;
  }

  .section-overview p {
    margin: 1rem 0;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    background-color: rgb(250, 248, 238, 0.5);
    padding: 1rem;
    border-radius: 1rem;
  }

  article figure {
    width: 100%;
    height: 100%;
  }

  article figure img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }

  h3 {
    text-align: left;
  }
  .project-card {
    color: inherit;
    background-color: red;
    width: 100%;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.75rem 0;
  }

  .tag {
    background-color: #260e00;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .repo-link {
    background-color: rgb(38, 14, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    color: #260e00;
    text-decoration: none;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .repo-link:hover {
    background-color: rgb(38, 14, 0, 0.5);
  }

  .project-links {
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
  }

  .repo-link :global(svg.svg-inline--fa) {
    width: 25px;
    height: 25px;
  }
</style>
