---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import { Picture, Image } from "astro:assets";
import { ArrowLeft } from "@lucide/astro";

import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faArrowUpRightFromSquare } from "@fortawesome/free-solid-svg-icons";
import { faSquareGithub } from "@fortawesome/free-brands-svg-icons";

library.add(faSquareGithub, faArrowUpRightFromSquare);

const githubIcon = icon(faSquareGithub);
const arrowUpRightIcon = icon(faArrowUpRightFromSquare);
---

<Layout>
  <header>
    <a href="/#projects" class="back-link">
      <div>
        <ArrowLeft />
      </div>
      <span>Zpět na seznam projektů</span>
    </a>
  </header>
  <main>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <div class="tags">
      {frontmatter.tags.map((tag: string) => <p class="tag">{tag}</p>)}
    </div>
    <div class="repo-links">
      <a href={frontmatter.link} class="repo-link" target="_blank">
        <div>
          <Fragment set:html={githubIcon.html} />
        </div>
        <span>GitHub</span>
      </a>
      {
        frontmatter.deploy && (
          <a href={frontmatter.deploy} class="repo-link" target="_blank">
            <div>
              <Fragment set:html={arrowUpRightIcon.html} />
            </div>
            <span>Link</span>
          </a>
        )
      }
    </div>
    <Image
      src={frontmatter.image}
      alt={frontmatter.title}
      alt=`Screenshot aplikace ${frontmatter.title}`
    />
    <div class="content-container">
      <slot />
    </div>
    <div>
      <a href="/#projects" class="back-link">
        <div>
          <ArrowLeft />
        </div>
        <span>Zpět na seznam projektů</span>
      </a>
    </div>
  </main>
</Layout>

<style>
  header {
    width: 60%;
    margin: 0.5rem auto;
  }
  .back-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    padding: 1rem 0.75rem;
    border-radius: 1rem;
    width: fit-content;
  }

  .back-link:hover {
    background-color: rgb(38, 14, 0, 0.2);
  }

  main {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main h1 {
    text-align: center;
    padding: 1rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    align-self: flex-start;
  }

  .tag {
    background-color: #260e00;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .repo-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    align-self: flex-start;
  }

  .repo-link {
    background-color: rgb(38, 14, 0, 0.2);
    padding: 1rem 1rem;
    border-radius: 1rem;
    color: #260e00;
    text-decoration: none;
    transition: background-color 0.3s ease;
    align-self: flex-start;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;
  }

  .repo-link:hover {
    background-color: rgb(38, 14, 0, 0.4);
  }

  .repo-link span {
    line-height: normal;
    height: 100%;
  }

  .repo-link :global(svg.svg-inline--fa) {
    width: 30px;
    height: 30px;
  }

  .content-container {
    width: 100%;
  }

  .content-container :global(h2) {
    margin: 2rem 0 1rem 0;
  }

  .content-container :global(h3) {
    margin: 1rem 0;
  }

  .content-container :global(p) {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .content-container :global(p > img),
  .content-container :global(img) {
    display: block;
    width: 100%;
    height: auto;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 1px 5px 29px 3px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 1px 5px 29px 3px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 1px 5px 29px 3px rgba(0, 0, 0, 0.49);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 1px 5px 29px 3px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 1px 5px 29px 3px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 1px 5px 29px 3px rgba(0, 0, 0, 0.49);
  }

  @media screen and (max-width: 992px) {
    header {
      width: 90%;
    }
    .back-link {
      width: 100%;
      font-size: 1.2rem;
    }
    main {
      width: 90%;
    }

    h1 {
      font-size: 2.5rem;
    }

    .content-container :global(h1) {
      font-size: 2.5rem;
    }

    .content-container :global(h2) {
      font-size: 2rem;
    }

    .content-container :global(h3) {
      font-size: 1.5rem;
    }

    .content-container :global(p) {
      flex-direction: column;
      gap: 1rem;
    }

    .content-container :global(p > img),
    .content-container :global(img) {
      display: block;
      width: 70%;
      height: auto;
    }
  }
</style>
